.home {
  padding: 0 2vw;
  background-color: lightgray;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    animation: title 30s forwards infinite;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    gap: 10px;

    p {
      span {
        text-decoration: 2px underline wavy red;
        font-size: 2rem;
      }
    }

    a {
      display: flex;
    }

    @keyframes title {
      0% {
        color: red;
      }
      15% {
        color: orange;
      }
      30% {
        color: yellow;
      }
      45% {
        color: green;
      }
      60% {
        color: rgb(5, 192, 255);
      }
      75% {
        color: indigo;
      }
      90% {
        color: pink;
      }
    }
  }
}

.challenges {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 15px;
  margin: 1vw 0;

  a {
    display: grid;
    border: 1px solid black;
    height: 300px;
    color: orange;
    border-radius: 15px 5px;
    transition: 1s;
    &:hover {
      border-radius: 5px 15px;
      transition: 1s;
      color: red;
      background-color: rgb(9, 10, 10);

      img {
        border-radius: 5px 15px;
        transition: 1s;
      }
      &:active {
        scale: 1.1;
        transition: 1s;
      }
    }

    p {
      text-align: center;
      font-size: 1.6rem;
    }
    img {
      display: block;
      max-width: 100%;
      max-height: 250px;
      justify-self: center;
      border-radius: 15px 5px;
    }
    a:visited {
      color: orange;
    }
  }

  button {
    height: 300px;
    border: none;
    border-radius: 15px 5px;
  }
}
