.movies {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  min-height: 45px;
  border-bottom: 1px solid black;
  align-items: center;
  justify-items: center;
  background-color: rgb(1, 28, 55);
  gap: 1rem;
  padding: 0 1rem;

  .nav__buttons {
    display: flex;
    gap: 1rem;
    height: 100%;
    width: 100%;

    a,
    span,
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(1, 28, 55, 0.294);
      height: 100%;
      border: none;
      font-family: Comforta;
      text-decoration: none;
      font-size: 1rem;
      width: 100%;

      color: white;
      text-align: center;

      &:visited {
        color: white;
        text-decoration: none;
      }

      &:hover {
        background-color: orange;
        border-bottom: 1px solid rgb(163, 106, 0);
        transition: 0.5s;
        cursor: pointer;
      }

      &:active {
        background-color: rgb(255, 200, 99);
        border: none;
      }
    }
  }

  .logo {
    color: rgb(42, 42, 42);
    font-size: 2rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border-radius: 5px;
    padding: 0 5px;
    background-color: rgb(255, 170, 0);
    transition: 0.1s;

    &:hover {
      scale: 1.1;
      transition: 0.1s;
    }

    a {
      text-decoration: none;
    }

    b {
      color: dodgerblue;
    }
  }
}
