.notifications_page {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  main {
    height: 30rem;
    width: 35rem;
    border: 1px solid black;
    padding: 1rem;

    .notifications {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .item {
      img {
        width: 2rem;
      }
    }
  }
}
