.TMDB-Listing {
  padding: 5vw;
}

.TMDB-Listing main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 4rem;
}

.TMDB-Listing .card {
  display: grid;
  justify-items: center;
  transition: 1s;
  padding: 15px;
  border-radius: 1rem;
  gap: 10px;
}

.TMDB-Listing .card:hover {
  scale: 1.2;
  box-shadow: 0 0.125rem 1.5rem white;
  transition: 0.5s;
}

.TMDB-Listing .card__img {
  max-width: 100%;
  display: block;
}

.TMDB-Listing .card__text {
  font-size: 0.8rem;
}

.TMDB-Listing .card__link {
  color: orange;
}

.TMDB-Listing .card__link:hover {
  color: red;
}
