@font-face {
  font-family: Hanken Grotesk;
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

.resultssummary {
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: Hanken Grotesk;
  height: 95vh;
  background-color: black;

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 45%;
    box-shadow: 0.1rem 0.1rem 0.1rem rgb(0 0 0 / 0.1);
    background-color: white;
    border-radius: 1rem;

    .general {
      display: grid;
      justify-items: center;
      color: hsl(0, 0%, 100%);
      background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
      padding: 1rem;
      font-size: 1.2rem;
      border-radius: 1rem;
      text-align: center;
      align-items: center;
      border-radius: 1rem 0 0 1rem;

      .details {
        font-size: 1rem;
      }

      .total__score {
        display: grid;
        width: 125px;
        height: 125px;
        align-items: center;
        justify-items: center;
        background: linear-gradient(
          hsla(256, 72%, 46%, 1),
          hsla(241, 72%, 46%, 0)
        );
        border-radius: 50%;
        padding: 1.35rem;

        b {
          font-size: 3.5rem;
        }
      }
    }

    .summary {
      display: grid;
      padding: 0.5rem;
      gap: 10px;

      div {
        display: grid;
        grid-template-columns: 3fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        padding: 0 2px;
      }

      div:first-child {
        display: grid;
        grid-template-columns: 1fr 5fr;
        justify-items: baseline;
        width: 100%;
      }

      div:nth-child(2) {
        display: grid;
        align-items: center;
      }

      button {
        border-radius: 2rem;
        border: none;

        &:hover {
          background-color: orange;
          box-shadow: 0 0.125rem 1.5rem orange;
          transition: 0.2s;
        }

        &:active {
          scale: 1.05;
          transition: 0.1s;
        }
      }

      .reaction {
        background-color: hsla(0, 100%, 67%, 0.102);
        color: hsl(0, 100%, 67%);

        &:hover {
          box-shadow: 0 0.125rem 1.5rem hsl(0, 100%, 67%);
        }
      }
      .memory {
        background-color: hsla(39, 100%, 56%, 0.202);
        color: hsl(39, 100%, 56%);
        &:hover {
          box-shadow: 0 0.125rem 1.5rem hsla(39, 100%, 56%);
        }
      }
      .verbal {
        background-color: hsla(166, 100%, 37%, 0.205);
        color: hsl(166, 100%, 37%);
        &:hover {
          box-shadow: 0 0.125rem 1.5rem hsla(166, 100%, 37%);
        }
      }
      .visual {
        background-color: hsla(234, 85%, 45%, 0.133);
        color: hsl(234, 85%, 45%);
        &:hover {
          box-shadow: 0 0.125rem 1.5rem hsla(234, 85%, 45%);
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .ResultsSummary main {
    width: 90%;
  }
  .ResultsSummary main .general .details {
    font-size: 0.8rem;
  }
}
@media (max-width: 450px) {
  .ResultsSummary main {
    grid-template-columns: 2fr 1fr;
  }
  .ResultsSummary main .summary {
    padding: 0.5rem;
  }
}
