.category {
  display: grid;
  justify-items: center;
  height: 85vh;
  padding: 2rem;

  h2 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
